extends ../layout

block content
    h1(id="login-title") Verification successful
    p.
        Your device has been successfully verified. You can now close this window and return to the application.