
div.terms
    h2 
        span.pNo 1. 
        span BACKGROUND AND DECLARATION OF CONTRACT 
    p 
        span.pNo 1.1 
        span DO NOT USE THE AVANET SERVICE UNTIL YOU HAVE READ AND ACCEPTED ALL OF THE TERMS OF USE BELOW. PERMISSION TO USE THE AVANET SERVICE (“SERVICE”) IS CONDITIONAL UPON YOU AGREEING TO THESE TERMS OF USE. USE OF THE AVANET SERVICE BY YOU WILL BE DEEMED AS ACCEPTANCE OF THESE TERMS OF USE. ACCEPTANCE WILL BIND YOU TO THESE TERMS OF USE IN A LEGALLY ENFORCEABLE CONTRACT WITH AVA MONITORING AB (“AM”) AND YOU CONSENT TO BEING BOUND BY THESE TERMS OF USE FOR ANY AND ALL ADDIT- IONAL VERSIONS OF THE AVANET SERVICE. IF YOU DO NOT AGREE TO THE TERMS OF THESE TERMS OF USE, WHICH INCLUDE THE SUBSCRIPTION AND WARRANTY, YOU MUST INFORM AVA MONITORING AB OR ITS PARTNER. 
    h2 
        span.pNo 2. 
        span GRANT OF SUBSCRIPTION
    p 
        span.pNo 2.1 
        span Subject to the terms and conditions of these terms of use (“Terms of Use”) and subject to a valid subscription of service, AM grants to you (the “End User”) a limited, non-exclusive and non-transferable right to use, for internal purposes only, the AvaNet Service, which may be accessed only by the number of users granted by AM (the “Subscription”).
    p 
        span.pNo 2.2 
        span Any use of the Service by any third party, except as provided in these Terms of Use, is strictly forbidden and is a breach of these Terms of Use. AM will not under any circumstances be responsible for any standstill due to expired Subscription.
    p 
        span.pNo 2.3 
        span In the event that it is revealed that any use of the Service by the End User is in breach of the material terms of these Terms of Use and/or any other agreement between AM and the End User, the End User shall reimburse AM for all reasonable costs and expenses related to such use in addition to any additional Subscription fees and maintenance and/or support fees owed to AM as a result of such non- compliance. Any maintenance and/or support of the Service (i.e. technical support and updates), will be provided in accordance with a separate Maintenance- and Support Agreement.
    h2 
        span.pNo 3.
        span OWNERSHIP
    p 
        span.pNo 3.1 
        span The End User has no ownership rights in the Service. The Service and the intellectual property rights associated therewith are and will remain at all times the sole and exclusive property of AM and its affiliates and the End User has no right, title or interest in or to the Service or the intellectual property associated therewith, except as expressly set forth in these Terms of Use. These Terms of Usedoes not grant the End User any rights in the trademarks or service marks of AM, all of which remain the exclusive property of AM and its affiliates. Upon AM’s request, the End User agrees, at AM’s expense, to take such actions as AM may reasonably request to perfect AM’s ownership in the Service.
    h2 
        span.pNo 4.
        span COPYRIGHT STATEMENT
    p 
        span.pNo 4.1
        span The End User owns all rights to its own data, measurement data, or other processed data that have been collected, processed or exported by the End User as result of its own use of the Service. The Service contains furthermore material that is protected by copyright laws and international treaty provisions. All rights not expressly granted herein are reserved by AM. Without limiting the generality of the preceding sentence, End User receives no rights and agrees not to: (i) copy, sub-license, lease, rent or assign the Service or any content, material or data included therein, with exception of the End User’s own data, measurement data, or other processed data that have been collected, processed or exported by the End User as result of its own use of the Service; (ii) distribute in whole or in part, modify, or create derivatives of the Service or any content, material or data included therein; or (iii) disclose the results of any benchmark or other performance test run on the Service to any third party without AM’s prior written consent.
    h2 
        span.pNo 5.
        span OTHER RESTRICTIONS AND ASSIGNMENT
    p 
        span.pNo 5.1
        span These Terms of Use grants the End User the right to use the Service for internal purposes only. The End User may not share its username, password or any other login information to the Service for the benefit of any third party without the prior express written consent of AM. The End User must protect the Service in a manner consistent with AM’s rights expressed in these Terms of Use.
    p  
        span.pNo 5.2
        span The End User acknowledges and agrees that the intellectual property associated with the Service and any other nonpublic information of a technical or commercial nature concerning AM or the Service disclosed to the End User in connection with these Terms of Use constitute AM's proprietary information and trade secrets, and the End User agrees to hold such information in strict confidence.
    p
        span.pNo 5.3
        span The End User shall have no right to license, transfer or assign the Subscription or the End User’s rights or obligations under these Terms of Use in whole or in part, unless the End User has received such expressed administration authority and AM has given its written consent. Any attempted license, transfer or assignment shall be null and void.
    h2 
        span.pNo 6.
        span INFRINGEMENT OF THIRD PARTY INTELLECTUAL PROPERTY RIGHTS
    p 
        span.pNo 6.1
        span AM shall pay those costs and direct damages finally awarded against the End User in connection with any claim by a third party that the Service directly infringes any copyright or misappropriates any trade secret recognized as such under applicable2/6. law (or those costs and damages agreed to by AM in a written monetary settlement) and the reasonable costs of defense incurred by the End User in connection therewith, including reasonable attorneys’ fees and court costs, provided that: 
        ul 
            li (a) the End User provides AM with prompt written notice of any such action or claim;
            li (b) the End User will permit AM to assume and control the defense and settlement of any such action or claim, at AM’s expense;
            li (c) the End User will not prejudice the defense of the action or claim nor will the End User make any admission as to liability nor compromise or agree to any settlement of any such action or claim without the prior written consent of AM; and
            li (d) the End User will provide AM with such assistance, documents, authority and information as AM may reasonably require in relation to the action or claim and defense or settlement thereof.
    p
        span.pNo 6.2
        span Notwithstanding the foregoing, AM shall have no liability to the End User for any claim that:
        ul
            li (a) arises out of any unauthorized use of the Service;
            li (b) arises out of any modification or alteration of the Service by anyone other than AM;
            li (c) arises out of the use of the Service in combination with any other software or equipment not approved by AM; or
            li (d) would have been avoided by use of the, at each time, current release of the Service or if the End User had followed AM’s reasonable written instructions.
    p
        span.pNo 6.3
        span In addition, if the Service becomes, or in AM’s opinion is likely to become, subject of an infringement or misappropriation claim, AM may, at its own expense and option, elect to either:
        ul
            li (a) procure the right for the End User to continue using the Service in accordance with the provisions of these Terms of Use;
            li (b) make such alterations, modifications or adjustments to the Service so that the infringing part of the Service becomes non-infringing without incurring a material diminution in performance or function; or
            li (c) replace the Service with a non-infringing substantially similar substitute.
    p
        span.pNo 6.4
        span If AM modifies or replaces the Service, the End User shall have the same rights and obligations in respect thereof as it would have had under these Terms of Use.

    p 
        span.pNo 6.5
        span THIS SECTION STATES AM’S ENTIRE LIABILITY, AND THE END USER’S SOLE REMEDIES, FOR ANY INFRINGEMENT OR ALLEGED INFRINGEMENT OF THIRD- PARTY INTELLECTUAL PROPERTY RIGHTS IN RELATION TO THE SERVICE.
    h2
        span.pNo 7.
        span PERSONAL DATA
    p
        span.pNo 7.1
        span By using the Service and thereby the acceptance of these Terms of Use the End User accepts AM’s registration and management of the End User’s information, customer data and personal data (together “Personal Data”). The End User is aware of and accepts that the End User's selected user name, company name, e- mail address and telephone number are visible to other registered users of the Service within the same database. In the event the Service is distributed through a shared database, then the End User accepts that now mentioned data will be visible to other registered users outside the End User’s own corporation. The Personal Data provided by the End User is used by AM in order for AM to provide the services of the Service as intended which entails the registration, storage and use of measurement data performed by the AVA-System or allowed third-party products, for AM's managing of the End User’s order and payment for the Service and thereto related services, to maintain the customer relationship between AM and the End User and to evaluate, develop and improve the Service and thereto related services. AM reserves the right to use the End User’s specified e-mail address for ongoing information to the End User about AM's products and special promotions.
    p
        span.pNo 7.2
        span The End User may, upon written request, inspect the Personal Data held about him/her. If they are inaccurate, incomplete or irrelevant, the End User is entitled to request that the information is corrected or deleted. The End User is responsible for that the username and password are kept secret, to prevent improper use of these data.
    h2 
        span.pNo 8.
        span LIMITED WARRANTY
    p 
        span.pNo 8.1 
        span THE SERVICE AND IS PROVIDED “AS IS”. ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT ARE HEREBY DISCLAIMED.
    h2  
        span.pNo 9.
        span LIMITATION OF LIABILITY
    p 
        span.pNo 9.1 
        span IN NO EVENT SHALL AM BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES OR LOSSES OF ANY KIND ARISING UNDER ANY THEORY OF LIABILITY (INCLUDING TORT), INCLUDING WITHOUT LIMITATION DAMAGES OR LOSSES FOR LOSS OF PROFITS, LOSS OF PRODUCTION OR EXPECTED SAVINGS, BUSINESS INTERRUPTION, LOSS OR CORRUPTION OF BUSINESS DATA OR INFORMATION, OR OTHER PECUNIARY LOSS, EVEN IF AM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    p 
        span.pNo 9.2
        span EXCEPT FOR AM’S INDEMNIFICATION OBLIGATIONS HEREUNDER AS REGARDS INFRINGEMENT OF THIRD-PARTY INTELLECTUAL PROPERTY RIGHTS, AM’S MAXIMUM AGGREGATE LIABILITY UNDER THESE TERMS OF USE (REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, OR OTHERWISE) SHALL BE LIMITED TO DIRECT DAMAGES NOT TO EXCEED THE AMOUNT OF SUBSCRIPTION FEES PAID TO AM FOR THE SUBSCRIPTION TO WHICH A SPECIFIC CLAIM RELATES.
    p
        span.pNo 9.3 
        span THE FOREGOING LIMITATIONS, EXCLUSIONS AND DISCLAIMERS SET FORTH IN THESE TERMS OF USE SHALL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
    h2
        span.pNo 10.
        span TERMINATION
    p
        span.pNo 10.1
        span These Terms of Use enters into effect upon login to the Service and will remain in force until further notice as long as the Service is in use by the End User and provided that a valid Subscription to the Service is in force.
    p
        span.pNo 10.2
        span AM may further immediately shut down the Service and terminate these Terms of Use with immediate effect if:
        ul
            li (i) The Subscription agreement for the Service is terminated due to a breach of contract by anyone other than AM;
            li (ii) the End User fails to perform or observe any of its obligations under these Terms of Use and such failure is not cured within ten (10) days after written notice thereof;
            li (iii) the End User should commit a material breach of contract, which is not rectifiable; or
            li (iv) relevant third party licenses for the Service for any reason cease to be in force.
    p
        span.pNo 10.3
        span Upon termination of these Terms of Use the End User shall immediately cease all use of the Service and shall return to AM all back-up, documentation or other material included in or relating to the Service.
    p
        span.pNo 10.4
        span Upon termination of these Terms of Use AM has no obligation to refund any paid applicable Subscription fees to any party.
    h2 
        span.pNo 11.
        span GENERAL
    p 
        span.pNo 11.1
        span These Terms of Use may only be modified by a written document that has been signed by both the End User and AM. If any provision of these Terms of Use is held to be unenforceable, the parties shall substitute for the affected provision an enforceable provision which approximates the intent and economic effect of the affected provision. The failure by a party to exercise any right hereunder shall not operate as a waiver of such party’s right to exercise such right or any other right in the future. These Terms of Use constitutes the entire agreement between theparties with respect to the subject matter contained herein, and supersedes all previous agreements, representations, warranties, statements, negotiations, understandings and undertakings, whether verbal or written, pertaining to such subject matter.
    p
        span.pNo 11.2
        span You hereby represent and acknowledge that in entering into these Terms of Use, you did not rely on any representations or warranties other than those expressly set forth in these Terms of Use. These Terms of Use is governed by and construed in accordance with the laws of Sweden (excluding the U.N. Convention on Contracts for the International Sale of Goods) and any dispute, controversy or claim arising out of or in connection with these Terms of Use, or the breach, termination or invalidity thereof, shall be settled by arbitration at the Arbitration Institute of the Stockholm Chamber of Commerce (the “SCC Institute”).
    p
        span.pNo 11.3
        span Where the amount in dispute clearly does not exceed EUR 100,000, the SCC Institute’s Rules for Expedited Arbitration shall apply and the arbitral tribunal shall be composed of a sole arbitrator. Where the amount in dispute clearly exceeds the amount set forth above, the Rules of the SCC Institute shall apply and the arbitral tribunal shall be composed of three arbitrators. The place of arbitration shall be Gothenburg, Sweden. The language to be used in the arbitral proceedings shall, unless otherwise agreed, be English.
    p 
        span.pNo 11.4
        span Should you have any questions concerning these Terms of Use, or if you desire to contact AM for any reason, please write to: AVA Monitoring AB, Vädursgatan 6, 412 50 Gothenburg, Sweden.