body {
     padding: 50px;
     color: whitesmoke;
     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
     position: absolute;
     overflow: hidden;
     background-image: url('../images/backgound.jpg');
     background-size: cover;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
}

h1, h2 {
     color: #FFFFFF!important;
}

a {
     color: #00B7FF;
}


.header {
     background: #007399;
     opacity: 0.6;
     width:100%;
     position: absolute;
     top: 0px;
     left: 0px;
}

.header div, .footer div {
     margin: 14px;
}

.footer {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     background: #171717;
     opacity: 0.8; // TODO: opacity mixin
}

.header, .footer {
     height: 50px;
     color: whitesmoke;
}

div.card {
     background-color: whitesmoke;
     border-radius: 10px; //TODO: Radius mixin
-webkit-box-shadow: 10px 10px 23px -13px rgba(28,27,28,1);
     -moz-box-shadow: 10px 10px 23px -13px rgba(28,27,28,1);
     box-shadow: 10px 10px 23px -13px rgba(28,27,28,1);
     width: 400px;
     min-height: 440px;
     margin: 60px auto;
}

div.card-header {
     text-align: center;
     background: #FFFFFF;
}

div.card-body {
      padding-top: 0.25rem;
}

div.card img {
     padding: 40px 0 0;
     text-align: center;
}

form {
     padding: 20px;
}

.margin5 {
     margin: 0 5px 0!important;
}

.width480 {
     width: 480px!important;
}

.input-container {
     margin-top: 10px;
}

.noLineStyle {
     list-style: none;
}

.instructions {
     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.alert {
     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.p {
     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.pass_show{position: relative} 

.pass_show .ptxt { 
     position: absolute; 
     top: 50%; 
     right: 10px; 
     z-index: 1; 
     color: blue;
     margin-top: 2px; 
     cursor: pointer; 
     transition: .3s ease all; 
} 

.pass_show .ptxt:hover{color: #333333;} 